/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
 /*
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,800');
 html,
 body {
   margin: 0;
   padding: 0;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 dd,
 dl,
 dt,
 li,
 ol,
 ul,
 fieldset,
 form,
 label,
 legend,
 button,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td {
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: normal;
   font-style: normal;
   font-size: 100%;
   line-height: 1;
   font-family: inherit;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 ol,
 ul {
   list-style: none;
 }
 q:before,
 q:after,
 blockquote:before,
 blockquote:after {
   content: "";
 }
 html {
   font-size: 100%;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
 }
 a:focus {
   outline: thin dotted;
 }
 a:hover,
 a:active {
   outline: 0;
 }
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section {
   display: block;
 }
 audio,
 canvas,
 video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
 }
 audio:not([controls]) {
   display: none;
 }
 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }
 sup {
   top: -0.5em;
 }
 sub {
   bottom: -0.25em;
 }
 img {
   border: 0;
   -ms-interpolation-mode: bicubic;
 }
 button,
 input,
 select,
 textarea {
   font-size: 100%;
   margin: 0;
   vertical-align: baseline;
   *vertical-align: middle;
 }
 button,
 input {
   line-height: normal;
   *overflow: visible;
 }
 button::-moz-focus-inner,
 input::-moz-focus-inner {
   border: 0;
   padding: 0;
 }
 button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
   cursor: pointer;
   -webkit-appearance: button;
 }
 input[type="search"] {
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
 }
 input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 textarea {
   overflow: auto;
   vertical-align: top;
 }
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(359deg);
   }
 }
 @keyframes glow {
   0%,
   100% {
     opacity: 1;
   }
   50% {
     opacity: 0.5;
   }
 }
 .force-wrap {
   word-wrap: break-word;
   word-break: break-all;
   -ms-word-break: break-all;
   word-break: break-word;
   hyphens: auto;
 }
 .type-light {
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
 }
 .type-bold {
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800;
 }
 .type-italic {
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   font-style: italic;
 }
 * {
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
 }
 html,
 button,
 input,
 textarea,
 select {
   outline: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 body {
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: 400;
   color: #333;
   font-size: 16px;
   background-color: #cccccc;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: 400;
   margin: 0;
   padding: 0;
 }
 h1 {
   font-size: 40px;
   line-height: 48px;
 }
 h2 {
   font-size: 28px;
   line-height: 32px;
 }
 h3 {
   font-size: 24px;
   line-height: 28px;
 }
 h4 {
   font-size: 20px;
   line-height: 24px;
 }
 h5 {
   font-size: 14px;
   line-height: 20px;
   color: #ccc;
   text-transform: uppercase;
 }
 h6 {
   color: #aaa;
 }
 p {
   font-size: 16px;
   line-height: 24px;
 }
 sub,
 sup {
   font-size: 0.8em;
 }
 sub {
   bottom: -0.2em;
 }
 sup {
   top: -0.2em;
 }
 b {
   font-weight: bold;
 }
 em {
   font-style: italic;
 }
 input[type="text"],
 input[type="email"],
 input[type="password"],
 textarea {
   font-size: 14px;
   line-height: 20px;
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: 400;
   padding: .75rem 0;
   line-height: 1.5rem !important;
   border: none;
   border-radius: 0;
   box-sizing: border-box;
   color: #333;
   outline: none;
 }
 input[type="text"] ::placeholder,
 input[type="email"] ::placeholder,
 input[type="password"] ::placeholder,
 textarea ::placeholder {
   color: #778b91;
 }
 input[type="text"][disabled],
 input[type="email"][disabled],
 input[type="password"][disabled],
 textarea[disabled] {
   opacity: .5;
 }
 input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
 }
 .checkbox {
   display: inline-block;
   height: 3rem;
   position: relative;
   vertical-align: middle;
   width: 44px;
 }
 .checkbox input[type="checkbox"] {
   font-size: 1em;
   visibility: hidden;
 }
 .checkbox input[type="checkbox"] + span:before {
   position: absolute;
   top: 50%;
   right: auto;
   bottom: auto;
   left: 50%;
   width: 0.85em;
   height: 0.85em;
   transform: translate3d(-50%, -50%, 0);
   background: transparent;
   box-shadow: #2cc5d2 0 0 0 1px inset;
   content: '';
   display: block;
 }
 .checkbox input[type="checkbox"]:checked + span:before {
   font-size: 16px;
   line-height: 24px;
   box-shadow: none;
   color: #2cc5d2;
   margin-top: -1px;
   font-family: 'percolate';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   content: "\e65e";
 }
 .input-symbol {
   display: inline-block;
   position: relative;
 }
 .input-symbol.error [class^="icon-"],
 .input-symbol.error [class*=" icon-"] {
   color: #ff4400;
 }
 .input-symbol [class^="icon-"],
 .input-symbol [class*=" icon-"] {
   left: 1em;
 }
 .input-symbol input {
   padding-left: 3em;
 }
 .input-symbol input {
   width: 100%;
 }
 .input-symbol input:focus + [class^="icon-"],
 .input-symbol input:focus + [class*=" icon-"] {
   color: #2cc5d2;
 }
 .input-symbol [class^="icon-"],
 .input-symbol [class*=" icon-"] {
   transition: all 300ms ease-in;
   transform: translate3d(0, -50%, 0);
   background: transparent;
   color: #aaa;
   font-size: 1em;
   height: 1em;
   position: absolute;
   top: 50%;
   width: 1em;
 }
 @font-face {
   font-family: "percolate";
   src: url("/icon/percolate.eot?-5w3um4");
   src: url("/icon/percolate.eot?#iefix5w3um4") format("embedded-opentype"), url("/icon/percolate.woff?5w3um4") format("woff"), url("/icon/percolate.ttf?5w3um4") format("truetype"), url("/icon/percolate.svg?5w3um4") format("svg");
   font-weight: normal;
   font-style: normal;
 }
 [class^="icon-"],
 [class*=" icon-"] {
   font-family: "percolate";
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 .icon-graphql:before {
   content: "\e90a";
 }
 .icon-redux:before {
   content: "\e908";
 }
 .icon-grid:before {
   content: "\e909";
 }
 .icon-redirect:before {
   content: "\e907";
 }
 .icon-grow:before {
   content: "\e903";
 }
 .icon-lightning:before {
   content: "\e904";
 }
 .icon-request-change:before {
   content: "\e905";
 }
 .icon-transfer:before {
   content: "\e906";
 }
 .icon-calendar:before {
   content: "\e902";
 }
 .icon-sidebar:before {
   content: "\e900";
 }
 .icon-tablet:before {
   content: "\e901";
 }
 .icon-atmosphere:before {
   content: "\e671";
 }
 .icon-browser:before {
   content: "\e672";
 }
 .icon-database:before {
   content: "\e673";
 }
 .icon-expand-alt:before {
   content: "\e674";
 }
 .icon-mobile:before {
   content: "\e675";
 }
 .icon-watch:before {
   content: "\e676";
 }
 .icon-home:before {
   content: "\e600";
 }
 .icon-user-alt:before {
   content: "\e601";
 }
 .icon-user:before {
   content: "\e602";
 }
 .icon-user-add:before {
   content: "\e603";
 }
 .icon-users:before {
   content: "\e604";
 }
 .icon-profile:before {
   content: "\e605";
 }
 .icon-bookmark:before {
   content: "\e606";
 }
 .icon-bookmark-hollow:before {
   content: "\e607";
 }
 .icon-star:before {
   content: "\e608";
 }
 .icon-star-hollow:before {
   content: "\e609";
 }
 .icon-circle:before {
   content: "\e60a";
 }
 .icon-circle-hollow:before {
   content: "\e60b";
 }
 .icon-heart:before {
   content: "\e60c";
 }
 .icon-heart-hollow:before {
   content: "\e60d";
 }
 .icon-face-happy:before {
   content: "\e60e";
 }
 .icon-face-sad:before {
   content: "\e60f";
 }
 .icon-face-neutral:before {
   content: "\e610";
 }
 .icon-lock:before {
   content: "\e611";
 }
 .icon-unlock:before {
   content: "\e612";
 }
 .icon-key:before {
   content: "\e613";
 }
 .icon-arrow-left-alt:before {
   content: "\e614";
 }
 .icon-arrow-right-alt:before {
   content: "\e615";
 }
 .icon-sync:before {
   content: "\e616";
 }
 .icon-reply:before {
   content: "\e617";
 }
 .icon-expand:before {
   content: "\e618";
 }
 .icon-arrow-left:before {
   content: "\e619";
 }
 .icon-arrow-up:before {
   content: "\e61a";
 }
 .icon-arrow-down:before {
   content: "\e61b";
 }
 .icon-arrow-right:before {
   content: "\e61c";
 }
 .icon-chevron-down:before {
   content: "\e61d";
 }
 .icon-back:before {
   content: "\e61e";
 }
 .icon-download:before {
   content: "\e61f";
 }
 .icon-upload:before {
   content: "\e620";
 }
 .icon-proceed:before {
   content: "\e621";
 }
 .icon-info:before {
   content: "\e622";
 }
 .icon-question:before {
   content: "\e623";
 }
 .icon-alert:before {
   content: "\e624";
 }
 .icon-edit:before {
   content: "\e625";
 }
 .icon-paintbrush:before {
   content: "\e626";
 }
 .icon-close:before {
   content: "\e627";
 }
 .icon-trash:before {
   content: "\e628";
 }
 .icon-cross:before {
   content: "\e629";
 }
 .icon-delete:before {
   content: "\e62a";
 }
 .icon-power:before {
   content: "\e62b";
 }
 .icon-add:before {
   content: "\e62c";
 }
 .icon-plus:before {
   content: "\e62d";
 }
 .icon-document:before {
   content: "\e62e";
 }
 .icon-graph-line:before {
   content: "\e62f";
 }
 .icon-doc-chart:before {
   content: "\e630";
 }
 .icon-doc-list:before {
   content: "\e631";
 }
 .icon-category:before {
   content: "\e632";
 }
 .icon-copy:before {
   content: "\e633";
 }
 .icon-book:before {
   content: "\e634";
 }
 .icon-certificate:before {
   content: "\e636";
 }
 .icon-print:before {
   content: "\e637";
 }
 .icon-list-unordered:before {
   content: "\e638";
 }
 .icon-graph-bar:before {
   content: "\e639";
 }
 .icon-menu:before {
   content: "\e63a";
 }
 .icon-filter:before {
   content: "\e63b";
 }
 .icon-ellipsis:before {
   content: "\e63c";
 }
 .icon-cog:before {
   content: "\e63d";
 }
 .icon-wrench:before {
   content: "\e63e";
 }
 .icon-nut:before {
   content: "\e63f";
 }
 .icon-camera:before {
   content: "\e640";
 }
 .icon-eye:before {
   content: "\e641";
 }
 .icon-photo:before {
   content: "\e642";
 }
 .icon-video:before {
   content: "\e643";
 }
 .icon-speaker:before {
   content: "\e644";
 }
 .icon-phone:before {
   content: "\e645";
 }
 .icon-flag:before {
   content: "\e646";
 }
 .icon-pin:before {
   content: "\e647";
 }
 .icon-compass:before {
   content: "\e648";
 }
 .icon-globe:before {
   content: "\e649";
 }
 .icon-location:before {
   content: "\e64a";
 }
 .icon-search:before {
   content: "\e64b";
 }
 .icon-timer:before {
   content: "\e64c";
 }
 .icon-time:before {
   content: "\e64d";
 }
 .icon-dashboard:before {
   content: "\e64e";
 }
 .icon-hourglass:before {
   content: "\e64f";
 }
 .icon-play:before {
   content: "\e650";
 }
 .icon-stop:before {
   content: "\e651";
 }
 .icon-email:before {
   content: "\e652";
 }
 .icon-comment:before {
   content: "\e653";
 }
 .icon-link:before {
   content: "\e654";
 }
 .icon-paperclip:before {
   content: "\e655";
 }
 .icon-box:before {
   content: "\e656";
 }
 .icon-structure:before {
   content: "\e657";
 }
 .icon-commit:before {
   content: "\e658";
 }
 .icon-cpu:before {
   content: "\e659";
 }
 .icon-memory:before {
   content: "\e65a";
 }
 .icon-outbox:before {
   content: "\e65b";
 }
 .icon-share:before {
   content: "\e65c";
 }
 .icon-button:before {
   content: "\e65d";
 }
 .icon-check:before {
   content: "\e65e";
 }
 .icon-form:before {
   content: "\e65f";
 }
 .icon-admin:before {
   content: "\e660";
 }
 .icon-paragraph:before {
   content: "\e661";
 }
 .icon-bell:before {
   content: "\e662";
 }
 .icon-rss:before {
   content: "\e663";
 }
 .icon-basket:before {
   content: "\e664";
 }
 .icon-credit:before {
   content: "\e665";
 }
 .icon-support:before {
   content: "\e666";
 }
 .icon-shield:before {
   content: "\e667";
 }
 .icon-beaker:before {
   content: "\e668";
 }
 .icon-google:before {
   content: "\e669";
 }
 .icon-gdrive:before {
   content: "\e66a";
 }
 .icon-youtube:before {
   content: "\e66b";
 }
 .icon-facebook:before {
   content: "\e66c";
 }
 .icon-thumbs-up:before {
   content: "\e66d";
 }
 .icon-twitter:before {
   content: "\e66e";
 }
 .icon-github:before {
   content: "\e66f";
 }
 .icon-meteor:before {
   content: "\e670";
 }
 a {
   transition: all 200ms ease-in;
   color: #5db9ff;
   cursor: pointer;
   text-decoration: none;
 }
 a:hover {
   color: #239da8;
 }
 a:active {
   color: #555;
 }
 a:focus {
   outline: none;
 }
 .list-heading {
   letter-spacing: .3em;
   text-indent: .3em;
   text-transform: uppercase;
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800;
   font-size: 11px;
   padding-left: 15px;
   line-height: 40px;
   background: #f8f8f8;
   color: #aaa;
 }
 .list-heading .icon-sync {
   opacity: 1;
   animation: spin 2s infinite linear;
   display: inline-block;
   margin-right: 4px;
 }
 .list-item {
   font-size: 14px;
   line-height: 20px;
   display: flex;
   flex-wrap: wrap;
   height: 3rem;
   width: 100%;
   background: white;
   transition: all ease-out 150ms;
 }
 .list-item .title {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   flex: 1;
 }
 .list-item input[type="text"] {
   background: transparent;
   width: 100%;
 }
 .list-item input[type="text"]:focus {
   cursor: text;
 }
 .list-item .actions {
   transition: all 200ms ease-in;
   padding-right: 20px;
 }
 .list-item .actions a {
   display: inline-block;
   vertical-align: top;
   text-align: center;
   color: #eee;
 }
 .list-item .actions a:hover {
   color: #2cc5d2;
 }
 .list-item .actions a:active {
   color: #555;
 }
 .list-item .actions [class^="icon-"] {
   font-size: 16px;
   line-height: 24px;
   line-height: 3rem;
   text-align: center;
 }
 .list-item.TASK_PINNED .icon-star {
   color: #2cc5d2;
 }
 .list-item.TASK_ARCHIVED input[type="text"] {
   color: #aaa;
 }
 .list-item:hover {
   background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
 }
 .list-item:hover .checkbox {
   cursor: pointer;
 }
 .list-item + .list-item {
   border-top: 1px solid #f0f9fb;
 }
 .list-item.checked input[type="text"] {
   color: #ccc;
   text-decoration: line-through;
 }
 .list-item.checked .delete-item {
   display: inline-block;
 }
 .loading-item {
   height: 3rem;
   width: 100%;
   background: white;
   display: flex;
   align-items: center;
   line-height: 1rem;
   padding-left: 16px;
 }
 .loading-item .glow-checkbox,
 .loading-item .glow-text span {
   animation: glow 1.5s ease-in-out infinite;
   background: #eee;
   color: transparent;
   cursor: progress;
   display: inline-block;
 }
 .loading-item .glow-checkbox {
   margin-right: 16px;
   width: 12px;
   height: 12px;
 }
 .loading-item + .loading-item {
   border-top: 1px solid #f0f9fb;
 }
 .list-items {
   position: relative;
   background: white;
   min-height: 288px;
 }
 .list-items .select-placeholder {
   border: none;
   width: 48px;
 }
 .wrapper-message {
   position: absolute;
   top: 45%;
   right: 0;
   bottom: auto;
   left: 0;
   width: auto;
   height: auto;
   transform: translate3d(0, -50%, 0);
   text-align: center;
 }
 .wrapper-message [class^="icon-"],
 .wrapper-message [class*=" icon-"] {
   font-size: 48px;
   line-height: 56px;
   color: #2cc5d2;
   display: block;
 }
 .wrapper-message .title-message {
   font-size: 16px;
   line-height: 24px;
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800;
   color: #555;
 }
 .wrapper-message .subtitle-message {
   font-size: 14px;
   line-height: 20px;
   color: #666;
 }
 .page.lists-show {
   min-height: 100vh;
   background: white;
 }
 .page.lists-show nav {
   background: #d3edf4;
   padding: 1.5rem 1.25rem;
   text-align: center;
 }
 @media screen and (min-width: 40em) {
   .page.lists-show nav {
     text-align: left;
   }
 }
 .page.lists-show nav .title-page {
   font-size: 20px;
   line-height: 24px;
   line-height: 2rem;
   cursor: pointer;
   white-space: nowrap;
 }
 .page.lists-show nav .title-page .title-wrapper {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800;
   color: #1c3f53;
   display: inline-block;
   vertical-align: top;
   max-width: 100%;
 }

*/
/*********************************************************************************************************/

.sb-show-main {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.turku .BrandColors_brandColors__10d5i h3{margin-left:40px}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI{display:block;width:25%;height:50px;margin:0 4px 4px 0px;position:relative;cursor:pointer}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Oletus__2mANK{background-color:#00aeef}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Asuminen__3Sm7G{background-color:#00a97a}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Kulttuuri__2AgWj{background-color:#ed0c6e}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Koulutus__DrUKc{background-color:#e56d40}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Terveys__34lOc{background-color:#76c6bb}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Tapahtuma__1XYGe{background-color:#f8bb4e}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay1__3n0Gk,.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay2__2tAhF{width:100%;height:100%;position:absolute;top:0;left:0;opacity:.1}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay1__3n0Gk{background-color:#000}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay2__2tAhF{background-color:#fff}.turku .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI .BrandColors_label__3CjYK{position:absolute;left:10px;top:10px}.pori .BrandColors_brandColors__10d5i h3{margin-left:40px}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI{display:block;width:25%;height:50px;margin:0 4px 4px 0;position:relative;cursor:pointer}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Oletus__2mANK{background-color:#00aeef}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Asuminen__3Sm7G{background-color:#e44e34}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Kulttuuri__2AgWj{background-color:#ff8200}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Koulutus__DrUKc{background-color:#ffcd00}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Terveys__34lOc{background-color:#00af66}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI.BrandColors_theme-Tapahtuma__1XYGe{background-color:#009bea}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay1__3n0Gk,.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay2__2tAhF{width:100%;height:100%;position:absolute;top:0;left:0;opacity:.1}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay1__3n0Gk{background-color:#000}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI:hover>.BrandColors_overlay2__2tAhF{background-color:#fff}.pori .BrandColors_brandColors__10d5i .BrandColors_colorBlock__3JmjI .BrandColors_label__3CjYK{position:absolute;left:10px;top:10px}
.turku .FeaturedArticle_featuredArticle__3rHM4{font-family:"Open Sans",sans-serif;font-size:16px;background-color:#fff;height:400px;max-height:100vh;overflow:hidden;display:flex;flex-direction:row;position:relative}.turku .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_size1__2o8TZ{grid-column-end:span 1}.turku .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_size2__3XTtX{grid-column-end:span 2}.turku .FeaturedArticle_featuredArticle__3rHM4::after{position:absolute;top:50%;left:50%;content:" ";height:25px;width:25px;background-color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);margin:-12.5px 0 0 -12.5px}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj{width:50%;background-color:#fff;padding:30px;position:relative;order:2}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_date__3yy98{font-size:87.5%;margin:0 0 .1em 0}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_title__2mwnd{color:#1d1d1a;font-size:18px;font-weight:600;margin:0 0 .5em 0;-webkit-text-decoration-color:#1d1d1a;text-decoration-color:#1d1d1a;cursor:pointer}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_title__2mwnd:hover{text-decoration:underline}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_ingress__366ib{color:#1d1d1a;font-size:87.5%;line-height:1.6;margin:0}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Oletus__2JKgT{border-bottom:4px solid #00aeef}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Asuminen__1qqu8{border-bottom:4px solid #00a97a}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Kulttuuri__2KFmb{border-bottom:4px solid #ed0c6e}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Koulutus__3gH3M{border-bottom:4px solid #e56d40}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Terveys__26oW6{border-bottom:4px solid #76c6bb}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj.FeaturedArticle_theme-Tapahtuma__Oqir1{border-bottom:4px solid #f8bb4e}.turku .FeaturedArticle_featuredArticle__3rHM4:nth-child(2n+1) .FeaturedArticle_textWrapper__EN8Hj{order:2}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj{width:50%;position:relative}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj img{width:100%;height:100%;object-fit:cover;min-height:100%;min-width:100%;background:url("/kuva-puuttuu.jpg") no-repeat scroll 0 0;background-size:cover}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q{position:absolute;left:0;bottom:20px;width:70%;padding:10px 20px;color:#fff;font-size:18px;font-weight:200;line-height:1.2em}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Oletus__2JKgT{background-color:#00aeef}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Asuminen__1qqu8{background-color:#00a97a}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Kulttuuri__2KFmb{background-color:#ed0c6e}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Koulutus__3gH3M{background-color:#e56d40}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Terveys__26oW6{background-color:#76c6bb}.turku .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q.FeaturedArticle_theme-Tapahtuma__Oqir1{background-color:#f8bb4e}.turku .FeaturedArticle_featuredArticle__3rHM4:nth-child(2n) .FeaturedArticle_imageWrapper__3auKj{order:2}.pori .FeaturedArticle_featuredArticle__3rHM4{font-family:BergenText;font-size:16px;background-color:#fff;height:480px;max-height:100vh;overflow:hidden;padding:32px 0;display:flex;flex-direction:row;position:relative;cursor:pointer}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_size1__2o8TZ{grid-column-end:span 1}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_size2__3XTtX{grid-column-end:span 2}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Oletus__2JKgT{background-color:#00aeef19}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Asuminen__1qqu8{background-color:#e44e3419}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Kulttuuri__2KFmb{background-color:#ff820019}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Koulutus__3gH3M{background-color:#ffcd0019}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Terveys__26oW6{background-color:#00af6619}.pori .FeaturedArticle_featuredArticle__3rHM4:hover.FeaturedArticle_theme-Tapahtuma__Oqir1{background-color:#009bea19}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Oletus__2JKgT{border-top:.938rem solid #00aeef}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Asuminen__1qqu8{border-top:.938rem solid #e44e34}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Kulttuuri__2KFmb{border-top:.938rem solid #ff8200}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Koulutus__3gH3M{border-top:.938rem solid #ffcd00}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Terveys__26oW6{border-top:.938rem solid #00af66}.pori .FeaturedArticle_featuredArticle__3rHM4.FeaturedArticle_theme-Tapahtuma__Oqir1{border-top:.938rem solid #009bea}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj{width:50%;padding:0 32px;position:relative;order:2}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_date__3yy98{font-size:1.125rem;line-height:1.556;color:#bcbcbc;margin:0 0 .1em 0}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_title__2mwnd{color:#1e1e1e;font-size:1.4rem;line-height:1.556;font-weight:Normal;text-transform:uppercase;margin:0 0 .5em 0;-webkit-font-smoothing:antialiased}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_textWrapper__EN8Hj .FeaturedArticle_ingress__366ib{color:#1e1e1e;font-size:1rem;font-weight:bold;line-height:1.556;margin-bottom:3.15rem}.pori .FeaturedArticle_featuredArticle__3rHM4:nth-child(2n+1) .FeaturedArticle_textWrapper__EN8Hj{order:2}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj{width:50%;position:relative}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj img{width:100%;height:auto;object-fit:cover;min-height:75%;min-width:100%;background:url("/kuva-puuttuu.jpg") no-repeat scroll 0 0;background-size:cover}.pori .FeaturedArticle_featuredArticle__3rHM4 .FeaturedArticle_imageWrapper__3auKj .FeaturedArticle_caption__1pU6Q{display:none}.pori .FeaturedArticle_featuredArticle__3rHM4:nth-child(2n) .FeaturedArticle_imageWrapper__3auKj{order:2}
.FeaturedList_content__2Fv64{background-color:#acacac;width:100%;max-width:1320px;margin:0 auto;padding:20px;display:grid;grid-template-columns:1fr 1fr;grid-column-gap:1%;-webkit-column-gap:1%;column-gap:1%;grid-row-gap:12px;row-gap:12px}
.MenuItem_MenuItem__3xRCg{font-family:"Open Sans",sans-serif;font-size:14px;display:block;line-height:44px;max-width:400px;text-align:center;padding:0 14px;color:#000;cursor:pointer;list-style-type:none;list-style-position:outside;position:relative}.MenuItem_MenuItem__3xRCg:hover{color:#fff}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Oletus__2-J_x{background-color:#00aeef}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Asuminen__2JKRW{background-color:#00a97a}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Kulttuuri__2N7mc{background-color:#ed0c6e}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Koulutus__2Ruvf{background-color:#e56d40}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Terveys__3IYR9{background-color:#76c6bb}.MenuItem_MenuItem__3xRCg:hover.MenuItem_theme-Tapahtuma__1NCEb{background-color:#f8bb4e}.MenuItem_MenuItem__3xRCg:hover .MenuItem_secondLevelMenu__1HFGj{display:flex}.MenuItem_MenuItem__3xRCg:after{content:"";font-family:"driveturku";font-size:48px;color:#b2b2b2;display:inline-block;line-height:22px;padding-top:3px;position:absolute;right:11px;top:11px}.MenuItem_MenuItem__3xRCg .MenuItem_label__eZN2d{font-size:16px;font-weight:700;line-height:24px}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj{display:none;position:absolute;left:0;top:100%;width:100vw;border:1px solid gray;padding:0;margin:0;background-color:#f7f7f7;color:#000;text-align:left}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Oletus__2-J_x{border-bottom:4px solid #00aeef}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Asuminen__2JKRW{border-bottom:4px solid #00a97a}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Kulttuuri__2N7mc{border-bottom:4px solid #ed0c6e}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Koulutus__2Ruvf{border-bottom:4px solid #e56d40}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Terveys__3IYR9{border-bottom:4px solid #76c6bb}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj.MenuItem_theme-Tapahtuma__1NCEb{border-bottom:4px solid #f8bb4e}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj>div{flex:1 1;position:relative}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W{font-size:1em;position:static;list-style-type:none;padding-left:110px;text-decoration:none}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W:hover{background-color:#fff}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W:hover .MenuItem_thirdLevelMenu__iB2oG{display:block}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W:after{content:"";font-family:"driveturku";font-size:48px;color:#b2b2b2;position:absolute;right:30px}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W .MenuItem_thirdLevelMenu__iB2oG{display:none;position:absolute;left:100%;top:0;width:100%;height:100%;padding:0;background-color:#fcfcfc;z-index:300}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W .MenuItem_thirdLevelMenu__iB2oG .MenuItem_thirdLevelMenuItem__2bku7{font-size:1em;list-style-type:none;text-decoration:none;padding:0 14px}.MenuItem_MenuItem__3xRCg .MenuItem_secondLevelMenu__1HFGj .MenuItem_secondLevelMenuItem__1Tf-W .MenuItem_thirdLevelMenu__iB2oG .MenuItem_thirdLevelMenuItem__2bku7:hover{background-color:#f7f7f7}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T{padding:30px}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD{display:block;padding:10px 30px 10px 65px;margin-bottom:7px;color:#fff;position:relative}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Oletus__2-J_x{background-color:#00aeef}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Asuminen__2JKRW{background-color:#00a97a}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Kulttuuri__2N7mc{background-color:#ed0c6e}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Koulutus__2Ruvf{background-color:#e56d40}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Terveys__3IYR9{background-color:#76c6bb}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD.MenuItem_theme-Tapahtuma__1NCEb{background-color:#f8bb4e}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD:hover>.MenuItem_overlay__3Wp8I{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#000;opacity:.1}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD:before{content:"";font-family:"driveturku";font-size:45px;position:absolute;left:10px;top:10px}.MenuItem_MenuItem__3xRCg .MenuItem_quickLinkWrapper__2o-3T .MenuItem_quickLink__16ufD:after{content:"";font-family:"driveturku";font-size:28px;position:absolute;right:20px;top:10px}

/*# sourceMappingURL=main.32ee063e.chunk.css.map*/